<footer class="footer">
  <div class="f-info container">

    <!-- LEFT -->
    <div class="f-left">
      © 2026 WanderLust
    </div>

    <!-- CENTER -->
    <div class="f-center">
      <a href="#">Privacy</a>
      <a href="#">Terms</a>
    </div>

    <!-- RIGHT -->
    <div class="f-right">
      <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
      <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
    </div>

  </div>
</footer>